@import url('https://fonts.googleapis.com/css2?family=Chewy&display=swap');

body {
    background-color: #E8DDB5;
    color: #E8DDB5;

}

#gameArea {
    background-color: #92B6B1;
    font-family: 'Chewy', cursive;
    font-size: x-large; 
    height: 21em;
    width: 25em;
    margin: auto;
    outline: 5px solid  #92B6B1;
}

#gameTitle {
    background-color: #788AA3;
    text-align: center;
    font-size: xxx-large;
    padding-top:.5em;
    text-decoration: underline;    
}

#instruction {
    background-color:#788AA3;
    text-align: center;
    padding-bottom: 1em;
    font-size: xx-large;
}

.btnGroup {
    background-color: ;
    display: flex;
    flex-direction: row;
    padding: .5em;
}

.btn {
    margin: auto;
    font-size: 1em;
    padding: 3px;
    border-radius: 20px;
    width: 20%;
    background-color: #788AA3;
    color: #E8DDB5;
    font-weight: 600;
}

#result {
    background-color: #788AA3;
    text-align: center;
    padding-top: 1em;
    font-size: xx-large;
}

#score {
    background-color: #788AA3;
    text-align: center;
    padding-bottom: .5em;
}

.titleResultGroup {
    background-color: #788AA3;
}