@import url('https://fonts.googleapis.com/css2?family=Chewy&display=swap');

body {
    background-color: grey;
}

#gameArea {
    background-color: rgb(89, 215, 231);
    font-family: 'Chewy', cursive;
    font-size: x-large; 
    height: 22.5em;
    width: 25em;
    margin: auto;
}

#gameTitle {
    background-color: red;
    text-align: center;
    font-size: xxx-large;
    padding: .5em;
}

#instruction {
    background-color: purple;
    text-align: center;
    padding: .5em;
    font-size: xx-large;
}

.btnGroup {
    background-color: green;
    display: flex;
    flex-direction: row;
    padding: .5em;
}

.btn {
    margin: auto;
    font-size: 1em;
    padding: 3px;
    border-radius: 20px;
    width: 20%;
}

#result {
    background-color: yellow;
    text-align: center;
    padding: .5em;
    font-size: xx-large;
}

#score {
    background-color: pink;
    text-align: center;
    padding: .5em;
}